<div data-id="<%= article.id %>" class="athlete_article">
  <h4> <%= link_to article.title, article.raw_url, target: "_blank", :class => 'article_link' %> </h4>
  <p><%= article.description %></p>
</div>

