

#about{
    padding:280px 0 160px 0;
    img{
        max-width:529px;
        margin-top:-110px;
    }
    h2.subheading{
        margin-bottom:30px;
    }
    p{
        @include font-size(2.0);
        @include line-height(3.5);
        color:white;
        margin-top:40px;
    }
}