<div data-id="<%= awesome_highlight.id %>">
  <%= link_to "Edit", edit_athlete_administration_highlight_path(@athlete, :ad, awesome_highlight), remote: true %>
  <%= link_to "Destroy", athlete_administration_highlight_path(@athlete, awesome_highlight), method: :delete, data: { confirm: "Are you sure?", remote: true } %>
  <%= render partial: "highlight", locals: {awesome_highlight: awesome_highlight } %>
</div>
