<tr>
  <td><%= text_field_tag "athlete_invitation[new][][first_name]", nil, placeholder: "First Name" %></td>
  <td><%= text_field_tag "athlete_invitation[new][][last_name]", nil, placeholder: "Last Name" %></td>
  <td><%= text_field_tag "athlete_invitation[new][][email]", nil, placeholder: "Email" %> </td>
</tr>
