<div class="content">
    <div class="container rb_grid clearfix">
      <% @athletes.results.in_groups_of(4, false) do |group| %>
       
          <%= render partial: "result", collection: group, as: :athlete %>
       
      <% end %>
    </div>
    <div class="container center_text pagination-wrap">
        <%= paginate @athletes, remote: true %>
        <!-- <span class="page-entries-count"><%= page_entries_info @athletes %></span> -->
    </div>
</div>
