<div id="about" class="content green_bg">

    <div class="container clearfix">

        <div class="col-1-2">
            <h2 class="subheading">About Recruiting Board</h2>
            <h1 class="x_large">The future of college recruiting!</h1>
            <p>
                 Recruiting Board is a recruiting service that specializes in building connections between high school football players, and colleges that compete at the NCAA Division II and III levels. We provide a free service for athletes that allows them to take control of their recruitment as well as assist them with their college search. Each year thousands of high school athletes are not recruited simply because they aren’t seen by the right coaches and schools. We are going to change that. 
            </p>
            <p>
                At Recruiting Board, we want to make sure that all athletes get a fair chance at being recruited, regardless of location, school size, or financial situation. We know that athletes from across the country spend hundreds and sometimes thousands of dollars trying to promote themselves to programs through expensive camps or online recruiting services. <strong>That’s why Recruiting Board is, and always will be free for student athletes.</strong>
            </p>
        </div>

        <div class="col-1-2">
            <%= image_tag('about/about_player.png') %>
        </div>

    </div>

</div>
