<div class="content home_cta">
  <br />
  <div class="container center_text">
    <h1>Contact</h1>
    <p> Phone: 601 460 0391 </p>
    <p> Or send us an email at: <br /> <strong>info@recruitingboard.net</strong> </p>
    <br />
    <br />
    <%= link_to "Back to Main Site", root_path, class: "primary_btn" %>
  </div>
</div>

