<div id="home" class="content">
  <div class="hero">
    <div class="container">
      <div class="hero_text">
        <h1 class="large">
          Players. <br>Colleges. <br>Connections.
        </h1>
        <%= link_to "Start Your Recruitment", new_user_registration_path, :class => 'primary_btn' %>
      </div>
    </div>
  </div>

  <div class="home_cta">
    <div class="container center_text">
      <h2>Take Your Dream to the Next Level.</h2>
      <p>Boost your exposure with schools looking for players just like you. Create your profile today!</p>
      <%= link_to "Start Your Recruitment", new_user_registration_path, :class => 'primary_btn' %>
    </div>
  </div>
</div>
