<div class="content terms">
    <div class="container">
        <h1>Terms &amp; Conditions</h1><br><br>
        <h2>TERMS OF SERVICE AND USER AGREEMENT FOR RECRUITING BOARD LLC</h2><br>
        <p>Recruiting Board LLC (hereinafter “Recruiting Board,” “we” or “us”) operates a digital
media network through the website http://www.recruitingboard.net (“Site”). This Terms
of Service and User Agreement (“Agreement”) sets forth the legally binding terms for
your use of the services and features offered through the Site (“Services”).</p><br>
<p>Please read this entire Agreement carefully before you use the Site or Services.
Section 1</p>
<h4>Section 1 Terms of Service</h4>
<p>1.01. Terms of Use. You are only authorized to use the Site and/or any Services offered
by Recruiting Board if you agree to abide by all of the terms of this Agreement and all
applicable laws, rules and regulations. If you do not so agree, you should leave the Site
and discontinue use of any and all Recruiting Board Services immediately. Your use of
the Site or Services in any manner constitutes your representation and warranty that
you fully and completely understand, accept and agree to abide by all of the terms of
this Agreement.</p><br>
<p>1.02. Changes. We reserve the right to revise and update this Agreement from time to
time as we, in our sole discretion, may deem appropriate. All changes are effective
immediately when posted, and apply to all access to and use of the Site and Services
thereafter. Your continued use of the Site and/or Services following posting of a revision
to this Agreement constitutes your representation and warranty that you fully and
completely understand, accept and agree to abide by all of the changes and revised
terms of this Agreement. If you do not so agree, you should leave the Site and
discontinue use of any and all Recruiting Board Services immediately. You should
check this page frequently so you are aware of any changes, as they are binding on
you.</p><br>
<p>1.03. Other Users. You are responsible for ensuring that any and all persons who
access the Site and/or Services through your computer and/or internet connection are
aware of and abide by the terms of this Agreement.</p>
<h4>Section 2 The Site</h4>
<p>2.01. Access. Access to the Site and the Services provided thereby may be interrupted,
suspended or terminated periodically for reasons and/or circumstances within the
control of Recruiting Board and/or outside the control of Recruiting Board. From time to
time, we may, in our sole discretion, restrict access to some or all parts of the Site to
you and/or other users. We are not, and shall not be, liable to you or any user if any
part, or the entirety, of the Site is unavailable or inaccessible to you or any other user at
any time or for any period, whether such inaccessibility is within or outside the control of
Recruiting Board.</p><br>
<p>2.02. Discontinuance. We reserve the right to, without notice to you or any user, update,
modify, amend, withdraw or otherwise shut down the Site and/or discontinue any
Service we provide at any time and for any reason we, in our sole discretion, deem
appropriate. We are not, and shall not be, liable to you or any user as a result of any
update, modification, amendment, withdrawal or shut down of the Site or discontinuance
of any Service.</p><br>
<p>2.03. Third Party Content. The Site includes content provided by third parties, including
materials provided by other users. The Site may contain message boards, chat rooms,
personal web pages or profiles, forums, bulletin boards, and other features that allow
users to post, submit, publish, display or transmit statistics, athlete and program
information, photographs, video and other content, materials and information. We do not
warrant the accuracy, completeness or usefulness of this information. Any reliance you
place on such information is strictly at your own risk. All statements expressed in these
materials, whether expressed as fact or opinion, and all articles and responses to
questions and other content, other than the content provided specifically by Recruiting
Board, are solely the statements, opinions and the responsibility of the person or entity
providing those materials. These materials do not necessarily reflect the opinion of
Recruiting Board. Recruiting Board is not, and shall not be, responsible or liable to you
or any third party for the content or accuracy of any materials provided by any third
parties.</p><br>
<p>2.04. Updates. Recruiting Board updates the content on this Site from time to time, but
its content is not necessarily complete or uptodate
at any given time. This is especially
true with regard to content provided by other users and other thirdparties.
As such, you
understand and agree that any material on the Site may be out of date at any given
time. Recruiting Board is not, and shall not be, responsible or liable to you or any third
party for the content or accuracy of any materials provided on the Site which may be out
of date.</p>
<h4>Section 3 Use and Content Restrictions</h4>
<p>3.01. Prohibited Uses. You represent, warrant and agree that you will only use the Site
for lawful, moral and ethical purposes and in accordance with the terms of this
Agreement. You further specifically agree NOT to use the Site:</p><br>
<p>(a) in any way that is contrary to the terms of this Agreement;</p><br>
<p>(b) to upload, download, send, receive, use or reuse
any material which does
not comply with the Content Standards set forth in Section 3.04 of this
Agreement;</p><br>
<p>(c) in any way that violates any applicable federal, state, local or international
law, rule or regulation, including without limitation any applicable National
Collegiate Athletic Association (NCAA) recruiting rule or National Association of
Independent Athletics (NAIA) recruiting rule;</p><br>
<p>(d) for the purpose of exploiting, harming or attempting to exploit or harm a minor in any
way by exposing him/her to inappropriate content, asking for personally identifiable
information, or otherwise;</p><br>
<p>(e)to collect, use and/or disclose personally identifiable information in violation of any
applicable law;</p><br>
<p>(f) to impersonate Recruiting Board, a Recruiting Board employee, another user,
or any other person or entity, including without limitation by using any email
address and/or screen name of another person or entity without the express
written authorization from that person or entity;</p><br>
<p>(g) to transmit, or procure the sending of, any advertising or promotional material
which has not expressly been approved, in writing, in advance, by Recruiting
Board;</p><br>
<p>(h) in any manner that could disable, overburden, damage, or impair the Site or
interfere with any other party’s use of the Site, including their ability to engage in
real time activities through the Site; and/or</p><br>
<p>(i) to engage in any conduct that restricts or inhibits anyone’s use or enjoyment
of the Site; that, in Recruiting Board’s sole discretion, may harm Recruiting Board
or users of the Site; or that, in Recruiting Board’s sole discretion, may expose
Recruiting Board or users of the Site to liability.</p><br>
<p>3.02. Prohibited Acts. You represent, warrant and agree that you will not use any
device, process or means to access the Site for any purpose, including monitoring or
copying any of the material on the Site; use any process to monitor or copy any of the
material on the Site or for any other unauthorized purpose without Recruiting Board’s
prior written consent; use any device, software or routine that interferes with the proper
working of the Site; introduce any material which is malicious or technologically harmful
(e.g., viruses, Trojan horses, worms, etc.); attempt to gain unauthorized access to,
interfere with, damage or otherwise disrupt any part of the Site, the server on which the
Site is stored, or any server, computer or database connected to the Site; or otherwise
attempt to interfere with the proper working of the Site.</p><br>
<p>3.03. UserProvided
Content. You represent, warrant and agree that all content you
post, submit, publish, display or transmit on the Site will comply with the Content
Standards set out in Section 3.04 of this Agreement. You further represent, warrant and
agree that all information you post, submit, publish, display or transmit on the Site will
be true and accurate to the best of your knowledge and belief. You further represent,
warrant and agree you own and/or control all rights, title and interest in and to all
content you post, submit, publish, display or transmit on the Site, that you have the right
to license to Recruiting Board and our affiliates and service providers, and each of Recruiting Board’s, its affiliates’ and its service providers’
respective licensees, successors and assigns, the right to use, reproduce, modify,
display, distribute, perform or otherwise provide and/or disclose any and all such
content to third parties, and that your posting, submitting, publishing, displaying or
transmitting content on the Site or providing the aforementioned license does not violate
the privacy, publicity or intellectual property rights of any other person or entity. You
further understand and agree that all content you post, submit, publish, display or
transmit on the Site will be considered to be nonconfidential
and nonproprietary
and
that, by posting, submitting, publishing, displaying or transmitting content on the Site,
you grant Recruiting Board and its affiliates, service providers, and each of Recruiting
Board’s, its affiliates’ and its service providers’ respective licenses, successors and
assigns, the right to use, reproduce, modify, display, distribute, perform or otherwise
provide and/or disclose any and all such content to third parties irrevocable and free of
royalties or other charges. You further understand, agree and acknowledge that you are
responsible for any and all content you post, submit, publish, display or transmit on the
Site and that you (and not Recruiting Board, nor its affiliates, nor its service providers,
nor any of Recruiting Board’s, its affiliates’ nor its service providers’ respective licenses,
successors and assigns) have full responsibility for such content, including its legality,
reliability, accuracy and appropriateness.</p><br>
<p>3.04. Content Standards. These content standards apply to any and all content you
post, submit, publish, display or transmit on the Site. All content you post, submit,
publish, display or transmit on the Site, must comply with all applicable federal, state,
local and international laws and regulations, including without limitation any applicable</p><br>
<p>National Collegiate Athletic Association (NCAA) recruiting rules and/or National
Association of Independent Athletics (NAIA) recruiting rules. In addition, you may NOT
post, submit, publish, display or transmit any content whatsoever on the Site that:</p><br>
<p>(a) contains or promotes any unlawful, threatening, abusive, libelous,
defamatory, obscene, vulgar, offensive, pornographic, profane, racist, sexually
explicit or indecent material of any kind, as determined by Recruiting Board in its
sole discretion;</p><br>
<p>(b) encourages, promotes, solicits or commits conduct that is criminal in nature,
that may give rise to civil liability, or which otherwise violates any local, state,
national or international law, rule or regulation, including but not limited to
National Collegiate Athletic Association (NCAA) recruiting rules and/or National
Association of Independent Athletics (NAIA) recruiting rules;</p><br>
<p>(c) contains or promotes in any way material that violates, plagiarizes or
infringes the rights of third parties including, without limitation, copyright,
trademark, patent, trade secret, rights of privacy or publicity or any other
proprietary right;</p><br>
<p>(d) promotes physical harm or injury against any individual or group;</p><br>
<p>(e) promotes material that exploits, or attempts to exploit, children under the age
of eighteen (18);</p><br>
<p>(f) contains or promotes any material which constitutes a request for money,
petition for signature, or which involves commercial activities or sales, such as
contests, sweepstakes and other sales promotions, barter or advertising, unless
specifically approved by Recruiting Board in writing, in advance;</p><br>
<p>(g) contains or promotes any material that contains a virus or other harmful
component;</p><br>
<p>(h)contains or promotes any material in connection with gambling; and/or</p><br>
<p>(i) violates the spire of this Agreement or the spirit or intent of these content standards.</p><br>
<p>Recruiting Board shall have the right to determine, in its sole discretion, whether the
content you post, submit, publish, display or transmit on the Site is compliant with the
spirit of these standards and to, in its sole discretion, modify, amend, redact or remove
all or part of any content you post, submit, publish, display or transmit on the Site and/or
disallow, discontinue and/or terminate your access to the Site and/or Services
temporarily and/or permanently, as Recruiting Board, in its sole discretion, deems
appropriate, with or without notice to you. Recruiting Board is not, and shall not be,
responsible or liable to you or any third party for the modification, amendment, redaction
or removal of all or part of any content you post, submit, publish, display or transmit on
the Site which Recruiting Board determines is not so compliant.</p><br>
<p>3.05. Monitoring. Recruiting Board cannot review all material before it is posted on the
Site and cannot ensure prompt removal of all objectionable material that may be posted.
Recruiting Board assumes no liability for any action or inaction regarding transmissions,
communications or content on the Site that is posted or provided by any user or third
party.</p><br>
<p>3.06. Enforcement. In addition to other actions set forth herein, you understand, agree
and acknowledge that Recruiting Board has the additional right, in its sole discretion, at
any time, with or without notice to you, and without waiver, to:</p><br>
<p>(a) refuse to allow you or any third party to post, submit, publish, display or transmit any
content on the Site for any reason or no reason at all;</p><br>
<p>(b) modify, amend, redact or remove all or part of any content you post, submit,
publish, display or transmit on the Site, or otherwise take any action we deem
necessary or appropriate with regard to any content you post, submit, publish,
display or transmit on the Site, for any reason or no reason at all;</p><br>
<p>(c) terminate or suspend your access to all or part of the Site for any violation of
the terms of this Agreement;</p><br>
<p>(d) disclose your identity and/or other information about you to any third party
who claims that material posted by you violates their rights, including their
intellectual property rights or their right to privacy;</p><br>
<p>(e) take appropriate legal action against you and/or refer any action to the any
law enforcement agency for any illegal or unauthorized use of the Site; and/or</p><br>
<p>(f) fully cooperate with any law enforcement agency, authority or court
requesting or directing us to disclose the identity or other information of anyone
posting any materials on or through the Site.</p><br>
<p>You understand, agree and acknowledge that you hereby waive any and all rights and
claims against, and agree to hold harmless, Recruiting Board, its affiliates, its service
providers, and each of Recruiting Board’s, its affiliates’ and its service providers’
respective licensees, successors, assigns, owners, shareholders, members, officers,
board members, employees and other agents, from any and all harm, damages or
claims resulting from any action taken by Recruiting Board, its affiliates and/or its
service providers during or as a result of its investigations or as a result, consequence
or byproduct
of any action or inaction by Recruiting Board, its affiliates, its service
providers or other third parties, including any law enforcement agency.</p><br>
<p>3.07. User Disputes. You understand and agree that any dispute you have with another
user of the Site and/or Services and/or any other thirdparty,
regardless of whether the
dispute relates to the Site, content, comments or other materials posted, submitted,
published, displayed or transmitted on the Site, is between you and the other user and
not Recruiting Board. Recruiting Board reserves the right to monitor any and all such
disputes, to investigate any and all such disputes and to take any action that Recruiting
Board, in its sole discretion, deems appropriate in response to any and all such
disputes. Recruiting Board shall not be liable in any manner for monitoring,
investigating, or taking any action as a result of any such dispute. Notwithstanding this
reservation, Recruiting Board shall have no obligation, responsibility, or affirmative duty
to monitor, investigate or take any action as a result of any such dispute and shall not
be liable for failing to monitor, investigate, or taking any action as a result of any such
dispute.</p>
<h4>Section 4 Linking</h4>
<p>4.01. Social Media. The Site may provide certain features, including but not limited to
social media features, that enable you to link from your own website or webpage or
certain other thirdparty
websites to certain content on the Site; send emails,
texts or
other electronic communications with certain content, or links to certain content, on the
Site; and/or cause limited portions of content on the Site to be displayed or appear to be
displayed on your own website or webpage or certain other thirdparty
websites. You
may use these features solely as they are provided by Recruiting Board, solely with
respect to the content they are displayed with, and otherwise solely in accordance with
any additional terms and conditions Recruiting Board provides with respect to such
features. Recruiting Board may, in its sole discretion, disable any or all such features,
links and/or linking abilities at any time and without notice.</p><br>
<p>4.02. Linking To. Pursuant to the terms and provisions hereof, you may link to the Site’s
homepage, and homepage only, provided you do so in a way that is fair, legal, and does
not damage, disparage or take advantage of Recruiting Board’s reputation. The
webpage and/or website from which you are linking, or on which you make certain
content accessible, must comply in all respects with the content standards set out in
Section 3.04 of this Agreement. You may not establish any link which in any way
suggests any form of association, approval or endorsement by Recruiting Board, unless
you first obtain the express written consent of Recruiting Board. Subject to the
foregoing, you represent, warrant and agree that you will not establish a link from any
webpage or website that is not owned by you; cause the Site or portions thereof to be
displayed, or appear to be displayed, on any other site; or otherwise take any action that
is inconsistent with any other provision of the terms of this Agreement. You further
represent, warrant and agree that you will cooperate with and assist Recruiting Board in
the removal, deletion, disabling and/or other actions to cause the cessation of any
unauthorized framing or linking.</p><br>
<p>4.03. Links From. The Site may contain links to other sites and resources provided by
third parties, including but not limited to, links contained in advertisements, banners and
sponsored links. These links are provided for your convenience and the convenience of
other users only and are not an endorsement by Recruiting Board of the sites or
services provided thereby. We have no control over the contents of the linked sites or
resources and are not, and will not be, responsible for them or any loss or damage to
you that may arise from your use of said links. If you decide to access any of the third
party websites linked to the Site, you do so entirely at your own risk and subject to the
terms and conditions of use for such websites. You further agree that any such
interaction you may have with third party websites through use of such links or
otherwise is solely between you and the third party and not Recruiting Board. Recruiting
Board is not, and shall not be, responsible or liable for any damage or loss you may
incur as a result of any such interactions.</p>
<h4>Section 5 Intellectual Property</h4>
<p>5.01. Ownership. The Website and its entire contents (excluding user provided content),
features and functionality, including, but not limited to, all information, software, text,
displays, images, video and audio, and the design, selection and arrangement thereof
(including the design, selection and arrangement of user provided content) are owned
by Recruiting Board and protected by United States and international copyright,
trademark, patent, trade secret and other intellectual property or proprietary rights laws.</p><br>
<p>5.02. Use of Intellectual Property. This Agreement permits your lawful use of the Site for
your personal, noncommercial
use only. However, you may not reproduce, distribute,
modify, create derivative works of, publicly display, publicly perform, republish,
download, store or transmit any of the material on the Site, except as follows:</p><br>
<p>(a) Your computer may temporarily store copies of such materials in RAM
incidental to your accessing and viewing those materials;</p><br>
<p>(b) You may store files that are automatically cached by your Web browser for
display enhancement purposes;</p><br>
<p>(c) You may print or download one copy of a reasonable number of pages of the
Site for your own personal, noncommercial
use and not for further reproduction,
publication or distribution;</p><br>
<p>(d) If desktop, mobile or other applications are provided for download, you may
download a single copy to your computer or mobile device solely for your own
personal, noncommercial
use, provided you agree to be bound by our end user
license agreement for any such applications; and</p><br>
<p>(e) If we provide social media features with certain content, you may take such
actions as are enabled by such features.</p><br>
<p>You may not modify copies of any materials from the Site and you may not delete or
alter any copyright, trademark or other proprietary rights notices from copies of
materials from this site.</p><br>
<p>5.03. No Transfer. No right, title or interest in or to the Site or any content on the Site is
transferred to you. No exclusive license or right to use the Site or any content on the
Site is transferred to you. All rights not expressly granted are reserved by Recruiting
Board. Recruiting Board may, at its sole discretion, and without notice, revoke your right
to use or access the Site, any content thereon, or Services at any time and for any
reason or no reason at all.</p>
<h4>Section 6
Disclaimers and Limitations of Liability</h4>
<p>6.01. Disclaimer of Warranties. The Site, its content, Services, and items obtained
through the Site are provided on an “as is” and “as available” basis, without any
warranties of any kind, either express or implied. Neither Recruiting Board nor any
person associated with Recruiting Board makes any warranty or representation with
respect to the completeness, security, reliability, quality, accuracy or availability of the
Site or any content included on the Site. Without limiting the foregoing, neither
Recruiting Board nor anyone associated with Recruiting Board represents or warrants
that the Site, its content or any services or items obtained through the Site will be
accurate, reliable, errorfree
or uninterrupted, that defects or inaccurate information will
be corrected, that the Site or the server that makes it available are free of viruses or
other harmful components or that the Site or any Services or items obtained through the
Site will otherwise meet your needs or expectations. Recruiting Board hereby disclaims
all warranties of any kind, whether express or implied, statutory or otherwise, including
but not limited to any warranties of merchantability, noninfringement
and fitness for
particular purpose. No statement, whether written or oral, obtained by you from
Recruiting Board or any person associated with Recruiting Board, or anywhere on the
Site, will create any warranty not expressly stated in this Agreement.</p><br>
<p>You are responsible for implementing sufficient procedures to satisfy your particular
requirements for antivirus
protection and accuracy of data input and output, and for
maintaining a means external to the Site for any reconstruction of any lost data.
Recruiting Board is not, and will not be, liable for any loss or damage caused by any
virus or other technologically harmful material that may damage or infect your hardware,
equipment, programs, data or other materials, proprietary or otherwise, resulting from
your use of the Site and/or Services and/or as a result of your downloading any material
posted on the Site or any webpage or website linked to the Site. Your use of the Site,
Services, any and all content on the Site, downloaded from the Site or through the Site
or any webpage or website linked to the Site, is at your own risk.</p><br>
<p>6.02. Limitation of Liability. In no event will Recruiting Board, its affiliates, licensors,
service providers, owners, shareholders, members, officers, directors, employees, or
other agents be liable for damages of any kind, under any theory, arising out of or in
connection with your use of, or inability to use, the Site, the content of the Site, your use
of, or inability to use, any websites linked to the Site, the content of any websites linked
to the Site, Services or other items obtained through the Site, or services or other items
obtained through any website linked to the Site, including, but not limited to, any direct,
indirect, special, incidental, consequential, punitive or exemplary damages, relating to
any personal injury, pain and suffering, emotional distress, or loss of revenue, profits,
business, use, goodwill, data, or otherwise, caused by or contributed to by any tort,
whether negligent or intentional, breach of contract, or other act or inaction, regardless
of whether any such damages are foreseeable or unforeseeable.</p><br>
<p>6.03. Indemnification. You agree to defend, indemnify and hold harmless Recruiting
Board, its affiliates, licensors and service providers, and all of Recruiting Board’s
respective owners, shareholders, members, officers, directors, employees, and other
agents, and each of
their respective successors and assigns, from and against any claims, liabilities,
damages, judgments, awards, losses, costs, expenses or fees (including attorneys’
fees) arising out of or relating to your violation of the terms of this Agreement or your
use of the Site, including, but not limited to, any content you post, submit, publish,
display or transmit on the Site, any use of the Site’s content, services and products
other than as expressly authorized in the terms of this Agreement, or your use of any
information obtained from the Site.</p>
<h4>Section 7 Miscellaneous</h4>
<p>7.01. Applicable Law. You acknowledge and agree that the State of Mississippi has
significant contacts with the creation and performance of this Agreement and that this
Agreement shall be governed by and construed in accordance with the laws of the State
of Mississippi. Any dispute or claim arising from or related to your use of the Site or
Services, including any violation of the terms of this Agreement, whether such disputes
are contractual or otherwise, shall be governed and construed under the laws of the
State of Mississippi without regard or effect to any conflict of law provision or rule.</p><br>
<p>7.02. Jurisdiction. You acknowledge and agree that the courts of the State of
Mississippi, including the federal courts of Mississippi, shall have personal jurisdiction
over all parties to this Agreement. Your further, independently and expressly, waive any
right you may have to sue or be sued in any court other than a court in the State of
Mississippi and you expressly agree that where possible, all litigation pertaining to this
Agreement shall be conducted in the courts of the State of Mississippi, including the
federal courts of Mississippi. You further acknowledge and agree that venue shall be
proper and located in Madison County, Mississippi.</p><br>
<p>7.03. Waiver. No action or inaction on the part of Recruiting Board shall be deemed a
waiver of any term, condition or requirement set forth in this Agreement, unless
Recruiting Board expressly agrees in writing to waive a term, condition or requirement
of this Agreement. Any such waiver shall be in writing, shall be expressly made, shall be
limited to the user referenced in the writing, and shall be strictly construed to constitute
the slightest waiver possible. No such waiver by Recruiting Board shall be deemed to
be a waiver of any term, condition or requirement not specifically referenced in the
writing; no such waiver shall be deemed a further or continuing waiver of any such term,
condition or requirement beyond that set forth in the writing; and no such waiver shall be
deemed to apply to any user not specifically identified in the written waiver.</p><br>
<p>7.04. Severability. If any provision of this Agreement is held to be illegal, invalid, or
unenforceable under present or future laws, the legality, validity, and enforceability of
the remaining provisions of this Agreement shall not be affected thereby, and in lieu of
each such illegal, invalid, or unenforceable provision there shall be automatically added,
as part of this Agreement, a provision as similar in terms to such illegal, invalid, or
unenforceable provision as may be possible and be legal, valid and enforceable.</p><br>
<p>7.05. Headings. All headings set forth in this Agreement are intended for convenience
only and shall not control or affect the meaning, construction or effect of this Agreement
or of any of the provisions thereof.</p><br>
<p>7.06. Entire Agreement. This Agreement, together with any additional terms and
conditions incorporated herein shall constitute the entire agreement between you and
Recruiting Board with respect to the Site, Services, and your use of the Site and/or
Services as set forth herein.</p>
    </div>




</div>