<div class="content home_cta">
  <br />
  <div class="container center_text">
  <h1>Who is that in your default image?</h1>
  <p> That's Malcom Butler. He played at a D2 school, then went on to play for the New England Patriots.</p>
  <p> He made one of the greatest plays in superbowl history.</p>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/U7rPIg7ZNQ8" frameborder="0" allowfullscreen></iframe>

  <p>Let's find his successor.</p>
  <br />
  <br />
  <%= link_to "Back to Main Site", root_path, class: "primary_btn" %>
  </div>
</div>
