<!--
<div id="appSearch">
    <div class="container">
      <form>
         <input type="text" placeholder="Find players, coaches or schools.">
         <i class="fa fa-close close_btn" data-behavior="closeSearch"></i>
      </form>
    </div>    
</div>
-->